.container {
    background-color: var(--background-color); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: var(--primary-color);
}

/* Estilos para la información del alumno */
.student-info {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 20px;
}

.student-info p {
    margin: 0;
    flex: 1;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #BDC3C7; 
}

th {
    background-color: var(--secondary-color); 
    color: white;
}