.dashboard-container {
  text-align: center;
  background-color: var(--background-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 150px;
}

.logo-container img {
  height: 100px;
}

.welcome-message h1 {
  color: var(--primary-color);
  font-size: 2em;
  margin: 0;
}

.welcome-message p {
  color: var(--text-color);
  margin-bottom: 30px;
}

.options-text {
  padding-bottom: 10px;
}

.options-container {
  display: flex;
  gap: 20px;
}

.options-container a {
  text-decoration: none;
  color: var(--primary-color);
  text-align: center;
  flex: 1;
}

.option-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.options-container a:hover .option-img {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.options-container span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
