.container {
    background-color: var(--background-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    width: 100%;
    max-width: 600px;
    text-align: center;
    color: var(--primary-color);
}

h1 {
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.notifications-list {
    margin-bottom: 20px;
    text-align: left;
}

.notification {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    border-left: 5px solid var(--secondary-color);
}

.notification p {
    margin: 5px 0;
}

button {
    background-color: var(--button-secondary-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-secondary-hover-color);
}
